
/* ============ FAQS ========= */
.faqs {
  background-image: url(../images/islam-bg.png);
  background-repeat: no-repeat;
  background-position: center -10px;
  background-size: 500px;
  padding-top: 102.8px;
}

.faqs-wrapper {
  padding: 50px 0 60px;
}
.faqs__text {
  text-align: center;
  line-height: 2;
  margin-bottom: 2em;
}
.faq__item {
  margin: 0 20px;
}
.accordion {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 14px 40px;
  padding-left: 50px;
  border-radius: 10px;
  margin: 0;
  transition: 0.4s;
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.accordion::before {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url('../images/faq-icon.png');
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  padding-right: 2.5em;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.accordion:after {
  content: url('../images/plus-icon.svg');
  float: right;
  margin-left: 14px;
  position: absolute;
  right: 20px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

.accordion.active:after {
  content: url('../images/minus.svg');
  transition: all 0.5s;
}

.panel {
  font-weight: 500;
  padding: 0 15px;
  margin: 10px 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media (min-width: 992px) {
  p {
    font-size: 0.875rem;
    max-width: 890px;
  }
  .hero {
    background-position: 90% center;
  }

  /* ============ FAQS ========= */

  .faqs-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  .faqs-wrapper > * {
    flex-basis: 47%;
  }
  .faq__item {
    margin: 0;
  }
  .accordion {
    font-size: 16px;
  }
  .panel {
    padding: 0 30px;
    margin: 16px 0 24px;
  }
}
